<div class="header">
  <h3 class="text-muted">Bio</h3>
</div>

<section class="col-md-8">
  <p>Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth. Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content management system ruby on rails continuous deployment big data infographic. Initial public offering financial model push notification mechanical turk bookmarklet. Term sheet convertible note colluding bootstrapping. Cloud computing subscription model out of the box proactive solution.</<p>
</section>

  <main-links></main-links>

<div class="footer">
  <p>&copy; Arthur Bouie 2014</p>
</div>
